
li{
    list-style: none;
}



.task__head {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
} 

.container {
    margin: auto;
    border: 2px solid red;
    min-height: 600px;
    max-width: 900px;   
}

#user__list__name{
    border: 1px solid black;
    max-width: 250px;
    margin: 10px;
    padding: 5px;
    margin: 10px auto;
    background-color: rgb(178, 200, 241);
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    font-size: 16px;
}

#user__button{
    border-radius: 5px;
    background-color: rgb(205, 252, 135);
    width: 70px;
}

.user__name{
    margin-left: 15px;
    width: 100%;
}
.user__card{
    border: 1px solid black;
    margin: 10px;
    max-width: 400px;
    padding: 10px;
    background-color: rgb(217, 247, 214);
    margin-left: 312px;
    display: flex;
}

.hide{
display: none;
}
/* .open{
    display: block;
} */

.photo{
    border-radius: 50%;
    width: 100px;
}

.user__header{
    margin-left: 37px;
}
